{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blogs/post.css" %}" />
  <link rel="stylesheet" href="{% static "blogs/index.css" %}" />
  
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="https://www.shutterstock.com/image-photo/young-hikers-small-backpacks-walks-260nw-2157450543.jpg" alt="Max - The Author Of This Blog" />
    <h2>SUMIT'S BLOG</h2>
  </header>
  <p>Hi, I am Sumit and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% for post in posts %}
      {% include "blogs/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, I am a Software Developer!
  </p>
  <p>
    My goal is to keep on growing as a developer.
  </p>
</section>
{% endblock %}